/*RESET*/
*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

body{
    background-color: lightgrey;
}


header div{
    display: inline-block;
    vertical-align: 1.2rem;
    font-size: 1.5rem;
}

header{
    background-color: white;
}

header img{
    height: 4rem;
}
main{

    width: 60% ;
    background-color: white;
    border-radius: 5px;

    border-width: 5rem;
    
    padding: 15px;
    margin: 40px auto;
}

#style{
    margin-left: 25px;
    padding-top: 4px;
    padding-bottom :4px ;
    padding-left :15px;
    padding-right: 15px;
    font-size: 1rem;
    color: white;
    background-color: #45abea;
    border-radius:5px;
}

#button{
    padding-top: 4px;
    padding-bottom: 4px;
    padding-left: 15px;
    padding-right: 15px;
    font-size: 1rem;
    color: lightgrey;
    background-color:white;
    border-radius: 5px;
}

#bottoni{
    border-bottom: 2px solid lightgray;
    width: 900px;
    padding-bottom: 10px;
}
.forma{
    padding-top: 10px;
    font-size: 1.5rem;
    color:#454952;
}



main ul{
    padding-left: 40px;
    list-style: none;
}

li{
    line-height: 2.8rem;
}

.check{
    margin-right: 10px;
    color: #6ac2ac;
    background-color: white;
    border-radius: 100%;
    border-color: #6ac2ac;
    border: solid;

}

.uncheck{
    margin-right: 10px;
    color: #ec655f;
    background-color: white;
    border-radius: 100%;
    border-color: #ec655f;
    border: solid;
}

.editorial{
    margin-left: 10px;
    padding: 4px;
    background-color: #45abea;
    color: white;
    border-radius: 5px;
}
#Q1{
    margin-left: 10px;
    padding: 4px;
    background-color: #9c72e4;
    color: white;
    border-radius: 5px;
}

#Recruiting{
    margin-left: 10px;
    padding: 4px;
    background-color: #64c0a9;
    color: white;
    border-radius: 5px;
}

#mobile{
    margin-left: 10px;
    padding: 4px;
    background-color: #f29e33;
    color: white;
    border-radius: 5px;
}

#website{
    margin-left: 10px;
    padding: 4px;
    background-color: #d863a1;
    color: white;
    border-radius: 5px;
}

#sales{
    margin-left: 10px;
    padding: 4px;
    background-color:#b0c926;
    color: white;
    border-radius: 5px;
}

#editorial{
    margin-left: 10px;
    padding: 4px;
    background-color: #b0c926;
    color: white;
    border-radius: 5px;
}